# -*- coding: utf-8 -*-
from database.procedures.procedure_list import *

# Данный файл сгенерирован автоматически, любые изменения будут утеряны при запуске parser.py
# Подробности: src/database/README.md


class ProcedureList:
    def __init__(self):
        {% for proc in procedures -%}
        self.{{ proc.name }}: {{ proc.upper_name }} = {{ proc.upper_name }}()
        {% endfor %}
