# -*- coding: utf-8 -*-
from datetime import datetime
from typing import NamedTuple, Any

from asyncpg import Connection

from database.procedures.base_procedure import BaseProcedure

# Данный файл сгенерирован автоматически, любые изменения будут утеряны при запуске parser.py
# Подробности: src/database/README.md


{% for proc in procedures -%}
# noinspection PyPep8Naming
class {{ proc.upper_name }}(BaseProcedure):

    class OutArgs(NamedTuple):
        {% for arg in proc.outargs -%}
        {{ arg.nametype}}
        {% endfor -%}

    {% for cursor in proc.cursors %}
    class {{ cursor.class_name }}(NamedTuple):
        {% for arg in cursor.args -%}
        {{ arg.nametype}}
        {% endfor -%}
    {% endfor -%}


    {{ '\n    ' -}}
    # noinspection PyMethodOverriding
    async def __call__(self, connection: Connection, {{ proc.inargs | map(attribute='nametype') |  join(', ') }}{{ ', ' if proc.inargs }}check_rc: bool = False) -> tuple[OutArgs, {{ proc.cursor_annotations }}]:
        out_args, {{ proc.cursors | map(attribute='var_name') |  join(', ') }} = await super().__call__(connection, '{{ proc.name }}', {{ proc.inargs | map(attribute='name') |  join(', ') }} {{ ', ' if proc.inargs }}check_rc=check_rc)
        return out_args, {{ proc.cursors | map(attribute='var_name') |  join(', ') }}


{% endfor -%}
